.flow-sms .flowchart-container {
  background-color: lightgray;
}

.flowchart-container {
  width: 100%;
  min-height: 700px;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
  linear-gradient(to bottom, grey 1px, transparent 1px);
}

.flowchart-step {
  min-width: 80px;
  width: fit-content;
  max-width: 350px;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 3px 8px;
}

.flowchart-step-system {
  margin: 17px;
}

.flowchart-step-user {
  background: var(--bs-secondary);
}

.flow-step-rhombus{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  transform: rotate(-45deg);
  background-color: var(--bs-primary); /* Adjust the background color as needed */
  overflow: hidden;
}

.flow-step-content-rhombus {
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
  text-align: center;
}

.flow-step-square {
  width: 200px;
  height: 100px;
  background-color: var(--bs-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flow-step-content-square {
  position: relative;
  z-index: 1;
  text-align: center;
}

.flow-step-wrapper-padding {
  padding: 17px 0;
}

.flowchart-step-side {
  color: white;
  margin: 5px 1px;
  border-radius: 2px;
}

.col-md-3, .col-md-9 {
  padding: 0;
}

.flow-sms .flowchart-step-side-system {
  background: var(--bs-primary);
}
.flow-sms .flowchart-step-side-user {
  background: var(--bs-secondary);
}

.flowchart-step .step-heading {
  padding: 5px;
  text-anchor: middle;
}

.flowchart-step .step-content {
  padding: 5px;
}

.flowchart-step-system .step-content {
  margin-top: 20px;
}

.flowchart-step .step-content .step-content-buttons{
  transform: scale(0.5);
}

.palette.row {
  --bs-gutter-x: 0;
}


