<div class="flow-{{demoType}}">
  <div class="">
    <button class="btn btn-primary mb-2" (click)="saveFlowchart()">Save Flow</button>
    <div class="flowchart-container" id="canvasContent" ngFlowchartCanvas [ngFlowchartOptions]="{stepGap: 25}">
    </div>

    <div class="palette row">
      <div class="col-auto" *ngFor="let el of flowchartElements">
        <div class="flowchart-step-side col-auto p-1" *ngIf="el.Data.Type == 'system'"
             [ngFlowchartStep]="{template: flowchartSystemItemStepContent, type: 'flowchartSystemStep', data: el.Data}">{{el.Data.Title}}</div>
        <div class="flowchart-step-side col-auto p-1" *ngIf="el.Data.Type == 'user'"
             [ngFlowchartStep]="{template: flowchartCustomerItemStepContent, type: 'flowchartCustomerStep', data: el.Data}">{{el.Data.Title}}</div>
      </div>
      <ng-template #flowchartSystemItemStepContent let-data>
        <div class="flowchart-step step-container px-4 flowchart-system-step">
          <div class="flow-step-rhombus">
            <div class="flow-step-content-rhombus">
              <div class="step-heading">
                {{data.data.Title}}
              </div>
              <div class="step-content">
                <div class="step-content-text">
                  {{data.data.Content}}
                </div>
                <div class="step-content-buttons">
                  <button class="btn btn-warning p-1" (click)="onFlowchartEdit(data.id, data)"><span
                    class="material-icons">edit</span>
                  </button>
                  <button class="btn btn-danger p-1" (click)="deleteFlowchartItem(data.id)"><span
                    class="material-icons">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #flowchartCustomerItemStepContent let-data>
        <div class="flowchart-step step-container px-4 flowchart-customer-step">
          <div class="step-heading">
            {{data.data.Title}}
          </div>
          <div class="step-content">
            <div class="step-content-text">
              {{data.data.Content}}
            </div>
            <div class="step-content-buttons">
              <button class="btn btn-warning p-1" (click)="onFlowchartEdit(data.id, data)"><span class="material-icons">edit</span>
              </button>
              <button class="btn btn-danger p-1" (click)="deleteFlowchartItem(data.id)"><span class="material-icons">delete</span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
