<div class="flow-{{demoType}}">
  <div class="">
    <div class="flowchart-container" id="flowchartCanvas" ngFlowchartCanvas [ngFlowchartOptions]="{stepGap: 40}">
    </div>

    <div class="palette row">
      <div class="flowchart-step-side col-auto" *ngFor="let el of flowchartElements"
           [ngFlowchartStep]="{template: flowchartItemStepContent, type: '', data: el.Data}">
        <div class="p-2">{{el.Title}}</div>
      </div>
      <ng-template #flowchartItemStepContent let-data>
        <div class="flowchart-step step-container">
          <div class="step-heading">
            {{data.data.Title}}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
