<p>Login</p>
<div class="row w-100">
  <label>Username</label>
  <input [(ngModel)]="name" class="form-control" id="name" />
  <br />
  <label>Password</label>
  <input
    [(ngModel)]="password"
    [type]="show ? 'text' : 'password'"
    class="form-control"
    id="password"
  />
  <br />
  <div class="form-check">
    <input
      id="showPassInput"
      class="form-check-input"
      type="checkbox"
      (change)="inputTypes()"
    />
    <label for="showPassInput" id="hidingTXT"
      >{{ show ? "Hide" : "Show" }} Password</label
    >
  </div>
  <button mat-raised-button (click)="loginClick()">Log in</button>
</div>
