<div class="row page justify-content-between">
  <div class="col-lg-4 mb-3">
    <div class="fs-3 mb-3">Questions</div>
    <div class="list-group">
      <a *ngFor="let question of questions" href="/edit-question/{{question.Id}}"
        class="list-group-item question">{{question.Name}}</a>
    </div>
  </div>
  <div class="col-auto mx-auto edit-details-card">
    <div class="row">
      <h2 class="col-10">Edit Demo</h2>
      <a href=" /delete-demo/{{demo.Id}}" class="btn btn-danger col-auto delete-button py-0 my-0">X</a>
    </div>
    <form>
      <label class="mt-2">
        Name:
        <input type="text" [value]="demo.Name" name="name" [(ngModel)]="name">
      </label>
      <label class="mt-2">
        Description:
      </label>
      <textarea name="description" [value]="demo.Description" [(ngModel)]="description">{{demo.Description}}</textarea>
      <label class="mt-2">
        <input type="checkbox" name="visibility" [checked]="demo.Visibility" [(ngModel)]="visibility">
        Visibility
      </label>
      <button type="button" class="btn btn-primary" (click)="saveDemo()">Save</button>
    </form>
  </div>
</div>