<div class="phone-display phone-display-{{demoType}}">
  <div class="header">
    <div class="row align-items-center">
      <div class="col-1"></div>
      <div class="col-auto">
        <div class="profile"></div>
      </div>
      <div class="col-auto">
        <div class="name">Timmeh Kim</div>
      </div>
    </div>
  </div>
  <div class="content text-screen">
    <div class="message message-in">Hello</div>
    <div class="message message-out">Hello, how can i help you?</div>
    <div class="message message-out">Or do you have a question I can answer.</div>
  </div>
  <div class="footer">
    <div class="row align-items-center justify-content-between">
      <div class="col-8">
      <input type="text" class="">
      </div>
      <button class="btn btn-success col-3" >Send</button>
    </div>
  </div>
</div>
