<div class="phone-display phone-display-{{demoType}}">
  <div class="header">
    <div class="row align-items-center">
      <div class="col-1"></div>
      <div class="col-auto">
        <div class="profile"></div>
      </div>
      <div class="col-auto">
        <div class="name">{{companyName}}</div>
      </div>
    </div>
  </div>
  <div class="content text-screen">
    <div *ngFor="let message of messages" class="message message-{{message.Type}}">{{message.Content}}</div>
    <ng-content select=".phone-messages"></ng-content>
  </div>
  <div class="footer">
    <div class="row align-items-center justify-content-between">
      <div class="col-8">
      <input type="text" [(ngModel)]="textMessage" class="" [disabled]="disabled">
      </div>
      <button class="btn btn-success col-3" [disabled]="disabled" (click)="addMessage()">Send</button>
    </div>
  </div>
</div>
