<div class="container">
<ul class="nav nav-tabs mb-2 justify-content-between align-items-end" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active pb-0" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard-tab-pane"
      type="button" role="tab" aria-controls="dashboard-tab-pane" aria-selected="true">
      <h2 class="text-dark">Dashboard</h2>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="archive-tab" data-bs-toggle="tab" data-bs-target="#archive-tab-pane" type="button"
      role="tab" aria-controls="archive-tab-pane" aria-selected="false">Archive</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="dashboard-tab-pane" role="tabpanel" aria-labelledby="dashboard-tab"
    tabindex="0">
    <div class="mb-2">
      <button mat-raised-button (click)="openPopUp()">New <i class="bi bi-plus-lg"></i></button>
    </div>
    <div class="row w-100">

      <card-component *ngFor="let demo of displayedItems" class="col-xl-4 col-sm-6 my-2" [image]="'test.jpg'">
        <div class="card-header-text">{{demo.name}}</div>
        <div class="card-body-text">
          <p>{{demo.description}}</p>
          <div class="text-center">
            <a href="/edit-demo/{{demo.id}}" class="btn btn-primary self-center">Edit</a>
          </div>
        </div>
      </card-component>

      <mat-paginator [pageSize]="cardAmountPerPage" [length]="dataSource.length" [pageIndex]="pageIndex"
        showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
  <div class="tab-pane fade" id="archive-tab-pane" role="tabpanel" aria-labelledby="archive-tab" tabindex="0">
    <div class="row w-100">
      <div class="row justify-content-around">
        <div class="col-md-5">
          <div *ngFor="let demo of archivedDemos.slice(0, (archivedDemos.length /2)+0.5)"
            class="row border rounded py-2 my-1 align-items-center justify-content-between">
            <div class="col-6">{{demo.name}}</div>
            <div class="col-auto">
              <button (click)="reinstateDemo(demo.id)" class="btn btn-warning"><i
                  class="bi bi-arrow-counterclockwise"></i></button>
              <button (click)="deleteDemo(demo.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div *ngFor="let demo of archivedDemos.slice((archivedDemos.length / 2)+0.5)"
            class="row border rounded py-2 my-1 align-items-center justify-content-between">
            <div class="col-6">{{demo.name}}</div>
            <div class="col-auto">
              <button (click)="reinstateDemo(demo.id)" class="btn btn-warning"><i
                  class="bi bi-arrow-counterclockwise"></i></button>
              <button (click)="deleteDemo(demo.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>