<h2>Dashboard</h2>
<div class="row w-100">
  <card-component *ngFor="let demo of demos" class="col-4 my-2" [image]="'test.jpg'">
  <div class="card-header-text">{{demo.name}}</div>
  <div class="card-body-text">
    <p>this is a demo</p>
    <div class="text-center">
      <a href="/edit-demo/{{demo.id}}" class="btn btn-primary self-center">Edit Demo</a>
      <a href=" /deletecomponent/{{demo.id}}" class="btn btn-danger self-center">Delete Demo</a>
  
    </div>
  </div>
  </card-component>
  <button mat-raised-button (click)="openPopUp()">Create a new Demo</button>
</div>
