<div class="card">
  <div *ngIf="header == true" class="card-header px-5">
    <h4>
      <ng-content select=".card-header-text"></ng-content>
    </h4>
  </div>
  <img *ngIf="image != ''" class="card-img-top" src="assets/images/{{image}}" alt="{{image}}">
  <hr *ngIf="image != ''" class="my-0">
  <div class="card-body">
    <ng-content select=".card-body-text"></ng-content>
  </div>
  <div *ngIf="footer == true" class="card-footer">
    <ng-content select=".card-footer-text"></ng-content>
  </div>
</div>
