<div class="row">
  <app-flowchart class="col-md-8" [demoType]="demoType"></app-flowchart>
  <div class="col-md-4">
    <app-phone-display [demoType]="demoType" [disabled]="true" [companyName]="companyName">
      <div class="phone-messages">
        <div *ngFor="let message of messageObjects" class="message message-{{message.Type}}">{{message.Message}}</div>
      </div>
    </app-phone-display>
    <a class="btn btn-primary mt-2" href="/evaluate-demo/{{flowId}}">Evaluate Flow</a>
  </div>
</div>
