/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/***************
Flowchart arrow
****************/
/*.flow-sms .ngflowchart-arrow #arrowhead {*/
/*  fill:blue;*/
/*}*/

#arrowhead {
  fill: black;
}
#arrowpath {
  stroke: black;
}

.phone-display-sms .message {
  background: gray;
  color: white;
}

.phone-display-whatsapp .message {
  background: green;
  color: white;
}
app-home {
  width: 100%;
}